**/.DS_Store
**/__pycache__

**/.FRED_API_key

**/~*.stswp
**/$~*.xlsx
**/~*.docx

**/*.synctex.gz
**/*.auxlock
**/*.nav
**/*.run.xml
**/*.snm
**/*.vrb

# TimeSeriesEconometrics
TimeSeriesEconometrics/Archive
TimeSeriesEconometrics/Auxiliary
TimeSeriesEconometrics/Auxiliary/beamerthemeAPLaTeXFormatBeamer.sty
TimeSeriesEconometrics/Code/define_programs.do
TimeSeriesEconometrics/Data/shocks
TimeSeriesEconometrics/Data/macro_financial_LPs_Q.dta
TimeSeriesEconometrics/Figures/**/temp/
TimeSeriesEconometrics/Figures/**/intermediates/
TimeSeriesEconometrics/.latexmkrc
